
.header {
	color: #FFFFFF;
  background-color: #013874;
  height: 80px;

	h1 {
		display: inline-block;
    border-right: 1px solid #FFFFFF;
    font-weight: 100;
    font-size: 20px;
    padding: 12px 20px 12px 20px;		
	}  
}